
/**
 * GROUP/ITEM
 */

.aui-group {
    display: table;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

.aui-group > .aui-item {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    margin: 0;
    vertical-align: top;
}

.aui-group > .aui-item + .aui-item {
    padding-left: 16px;
}

/* defensive header allowance */
.aui-layout .aui-group > header {
    display: table-caption;
}

/* .aui-group-split: two items; alignment is left, then right (splits the layout). */
.aui-group.aui-group-split > .aui-item {
    text-align: right;
}
.aui-group.aui-group-split > .aui-item:first-child {
    text-align: left;
}

/* .aui-group-trio: three items; alignment is left, center, right */
.aui-group.aui-group-trio > .aui-item {
    text-align: left;
}
.aui-group.aui-group-trio > .aui-item + .aui-item {
    text-align: center;
}
.aui-group.aui-group-trio > .aui-item + .aui-item + .aui-item {
    text-align: right;
}

.aui-group-highlighted .aui-item p {
    background: #f5f5f5;
    padding: 20px;
    margin-bottom: 10px;
}