
/* =====================================================================================================================
        OVER-RIDES
===================================================================================================================== */

/* =====================================================================================================================
        NEW
===================================================================================================================== */

/**
 * Header menu para app switch
 */

.aui-header .app-switcher-trigger {
    box-sizing: border-box;
    float: left;
    width: 36px;
    cursor: pointer;
}

.aui-header .app-switcher-trigger:after {
    border: 0;
}