/* =========================================================================================================================================
        OVER-RIDES
========================================================================================================================================= */

.aui-tabs > .tabs-pane {
    margin-top: 10px;
}

/* make aui buttons work in a table */

table.aui > tbody > tr > td.adg-actions {
    padding-bottom: 0;
}
table.aui .adg-actions .aui-button.aui-dropdown2-trigger {
    padding-right: 21px !important;
}
table.aui .adg-actions .aui-button, table.aui a.aui-button, table.aui.aui-button:visited {
    padding:  2px 8px 2px 8px;
    line-height: inherit;
    height: inherit;
    margin-top: -3px;
    margin-left: 5px;
    height: 26px;
}
table.aui .adg-actions .aui-button.aui-button.aui-dropdown2-trigger:after {
    top: 9px;
}
table.aui .adg-actions .aui-button.aui-dropdown2-trigger:after {
    margin-left: -16px;
}
table.aui .adg-actions .aui-button.aui-dropdown2-trigger:first-child.active, table.aui .adg-actions .aui-button.aui-dropdown2-trigger.active {
    padding-bottom: 3px;
}
table.aui td.adg-actions > .aui-icon.aui-icon-small {
    vertical-align: -4px;
    margin-right: 5px;
}

/* make hoverable actions work in a table */
table.aui .adg-actions .adg-on-hover > div.inline-actions {
    display: inline-block;
}
table.aui .adg-actions .adg-on-hover > div.inline-actions > a, table.aui .adg-on-hover > div.inline-actions > button {
    display: none;
}
table.aui tr:hover .adg-on-hover > div.inline-actions > a, table.aui tr:hover .adg-on-hover > div.inline-actions > button {
    display: inline-block;
}

/* give table rows a hover state */



/* =====================================================================================================================
    EXAMPLES
===================================================================================================================== */

.example-container {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 20px 0;
    padding: 20px;
}

.example-container.narrow {
    max-width: 900px;
}

.examples-section {
    float: left;
    margin: 0 20px 10px 0;
    width: 230px;
}
.example-screenshots {
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    height: 200px;
    width: 230px;
}

.aui-page-panel-inner {
    border-spacing: 0;
}

.example-screenshots:last-child {
    margin: 0 0 10px 0;
}
.example-screenshots:hover {
    border-color: #3b73af;
}

/* Page layouts */
.example-fluid {
    background-image: url('/images/aui/examples/layouts/example-layout-fluid.png');
}
.example-fixed-width {
    background-image: url('/images/aui/examples/layouts/example-layout-fixed.png');
}
.example-hybrid {
    background-image: url('/images/aui/examples/layouts/example-layout-hybrid.png');
}
.example-content {
    background-image: url('/images/aui/examples/layouts/example-layout-contentonly.png');
}
.example-nav-content {
    background-image: url('/images/aui/examples/layouts/example-layout-navcontent.png');
}
.example-content-sidebar {
    background-image: url('/images/aui/examples/layouts/example-layout-contentsidebar.png');
}
.example-nav-content-sidebar {
    background-image: url('/images/aui/examples/layouts/example-layout-navcontentsidebar.png');
}
.example-focused-task {
    background-image: url('/images/aui/examples/layouts/example-layout-focusedtask.png');
}

.example-container .aui-progress-tracker-step {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    padding: 0 10px;
    max-width: 140px;
    min-width: 80px;
    text-align: center;
}
.example-container .inverted {
    background: #f5f5f5;
}

ol.aui-progress-tracker {
    padding: 10px 0;
}

/* =====================================================================================================================
        FANCY BOX
===================================================================================================================== */

.example-thumbs {
    margin-top: 15px;
}
.example-thumbs img {
    width: 230px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 20px;
}
.example-thumbs img:hover {
    border-color: #3b73af;
}
.example-thumbs:last-child {
    margin-right: 0;
}

.fancybox-overlay {
    background: rgba(0,0,0,0.5);
}

/* =====================================================================================================================
        LAYOUT
===================================================================================================================== */

.margin-fix {
    margin-top: 50px;
}

.inverted-background {
    background: #f5f5f5;
}

.aui-item.example-inline-item {
    width: 230px;
}

/* =====================================================================================================================
        LOZENGES
===================================================================================================================== */

.aui-lozenge-code {
    background-color: #f5f5f5;
    border-color: #ccc;
    color: #333;
    font-family: monospace;
    font-weight: normal;
    text-transform: none;
    font-size: 12px;
    padding: 4px;
    margin: 0px 3px;
}
.aui-lozenge-inline {
    margin: 5px 0 0 10px;
    position: absolute;
}
.new-feature-lozenge {
    margin-left: 10px;
    position: relative;
    top: -1px;
}


/* =========================================================================================================================================
    COLOURS
========================================================================================================================================= */

.colours-section {
    float: left;
    margin: 10px 20px 10px 0;
    width: 100px;
}
.colours-derivative {
    float: left;
    margin: 10px 20px 0 0;
    width: 100px;
}
.colours-derivative:first-child {
    margin: 10px 20px 0 120px;
}
.colours {
    border-radius: 3px;
    height: 80px;
    width: 80px;
}
.colours-small {
    border-radius: 3px;
    height: 40px;
    width: 80px;
}
.colours-blue {
    background: #205081;
}
.colours-bright-blue-1 {
    background: #3b73af;
}
.colours-charcoal {
    background: #333;
}
.colours-light-grey {
    background: #f5f5f5;
}
.colours-white {
    background: #fff;
    border: 1px solid #ccc;
}
.colours-bright-blue-2 {
    background: #3b7fc4;
}
.colours-pale-blue {
    background: #ebf2f9;
}
.colours-medium-grey {
    background: #707070;
}
.colours-green {
    background: #14892c;
}
.colours-yellow {
    background: #ffd351;
}
.colours-brown {
    background: #815b3a;
}
.colours-warm-red {
    background: #d04437;
}
.colours-blue-grey {
    background: #4a6785;
}
.colours-purple {
    background: #654982;
}

/* Derivatives */

.colours-medium-blue {
    background: #ccd9ea;
}
.colours-grey {
    background: #999;
}
.colours-button-grey {
    background: #ccc;
}
.colours-border-grey {
    background: #ccc;
}
.colours-highlight-grey {
    background: #e9e9e9;
}

.colours-half-green { /* 50% of #14892c */
    background: #89c495;
}
.colours-pale-green { /* 5% of #14892c */
    background: #f3f9f4;
    border: 1px solid #ccc
}

.colours-half-yellow { /* 50% of #ffd351 */
    background: #ffe9a8;
}
.colours-pale-yellow { /* 5% of #ffd351 */
    background: #fffdf6;
    border: 1px solid #ccc;
}

.colours-brown-2 {
    background: #594300;
}

.colours-half-blue-grey { /* 50% of #4a6785 */
    background: #a4b3c2;
}
.colours-pale-blue-grey { /* 5% of #4a6785 */
    background: #f6f7f9;
    border: 1px solid #ccc;
}


/* =====================================================================================================================
    ICON FONT
===================================================================================================================== */


.aui-icon-table {
    margin-bottom: 10px;
}

#icon-font-table {
    margin-top: 20px;
}

.aui-icon-table .aui-icon {
    color: #707070;
}

.icon-size-examples {
    width: 300px;
    margin: 0 40px 0 0;
}

.icon-size-examples .aui-icon {
    color: #707070;
}
.icon-size-examples-small {
    display: inline-block;
    margin-top: 20px;
    width: 50%;
}
.icon-size-examples-large {
    display: inline-block;
}
.icon-size-examples-large .aui-icon-large {
    margin-top: -8px;
}

/* =====================================================================================================================
    BUTTONS
===================================================================================================================== */

/* Compact buttons */
/* AUI-1648 */
.aui-button.aui-button-compact, .aui-button.aui-button-compact:visited {
    padding: 2px 5px;
}
/*AUI-1649*/
.aui-button.aui-button-compact.aui-dropdown2-trigger:first-child.active, .aui-button.aui-button-compact.aui-dropdown2-trigger.active {
    padding-bottom: 3px;
}

/* AUI-1647 - DELETE THIS BUG, NEW SOLUTION BELOW: */
table.aui > tbody > tr > td.aui-compact-button-column {
    padding: 3px 10px;
    line-height: 28px;
    vertical-align: top;
}
table .aui-button-compact {
    margin-top: 1px;
    vertical-align: top;
}

/* make hoverable actions work in a table */
table.aui tr > td > div.inline-actions > a.aui-dropdown2-trigger, table.aui tr > td > div.inline-actions > button.aui-dropdown2-trigger {
    display: none;
}
table.aui tr:hover > td > div.inline-actions > a.aui-dropdown2-trigger, table.aui tr:hover > td > div.inline-actions > button.aui-dropdown2-trigger {
    display: inline-block;
}
/* end compact buttons in tables */