/*
* Icon Font
* - use when you need to change the colour of the icon via CSS - eg on hover or to match Look and Feel customisations
* 
* Ranges
*
* UTF+E001 - UTF+E3FF - Global
* UTF+E400 - UTF+E7FF - Conf
* UTF+E800 - UTF+EBFF - JIRA
* UTF+EC00 - UTF+EFFF - Dev Tools
*/

@font-face {
    font-family: "Atlassian Icons";
    src: url(fonts/atlassian-icons.eot);
    src: url(fonts/atlassian-icons.eot?#iefix) format("embedded-opentype"),
    url(fonts/atlassian-icons.woff) format("woff"),
    url(fonts/atlassian-icons.ttf) format("truetype"),
    url(fonts/atlassian-icons.svg#atlassian-icons) format("svg");
    font-weight: normal;
    font-style: normal;
}

.aui-icon-small,
.aui-icon-large {
    line-height: 0;
    position: relative;
    vertical-align: text-top;
}
.aui-icon-small {
    height: 16px;
    width: 16px;
}
.aui-icon-large {
    height: 32px;
    width: 32px;
}
.aui-icon-small:before,
.aui-icon-large:before {
    color: inherit;
    font-family: "Atlassian Icons";
    font-weight: normal;
    -webkit-font-smoothing: antialiased; /* Improves the rendering of icons */
    font-style: normal;
    left: 0;
    line-height: 1;
    position: absolute;
    text-indent: 0;
    speak: none; /* This prevents screen readers from pronouncing the pseudo element text content used to trigger the icon font */
    top: 50%;
}
.aui-icon-small:before {
    font-size: 16px;
    margin-top: -8px; /* (font-size/2) */
}
.aui-icon-large:before {
    font-size: 32px;
    margin-top: -16px; /* (font-size/2) */
}

/* Global Icons - UTF+E001 to UTF+E3FF
----------------------------------------------------------------------- */

.aui-iconfont-configure:before {
    content: "\e001";
}
.aui-iconfont-add:before {
    content: "\e002";
}
.aui-iconfont-help:before {
    content: "\e003";
}
.aui-iconfont-search:before {
    content: "\e004";
}
.aui-iconfont-success:before {
    content: "\e005";
}
.aui-iconfont-workbox:before {
    content: "\e006";
}
.aui-iconfont-workbox-empty:before {
    content: "\e007";
}
.aui-iconfont-email:before {
    content: "\e008";
}
.aui-iconfont-appswitcher:before {
    content: "\e009";
}
.aui-iconfont-comment:before {
    content: "\e00a";
}
.aui-iconfont-add-comment:before {
    content: "\e00b";
}
.aui-iconfont-search-small:before {
    content: "\e00c";
}
.aui-iconfont-remove:before {
    content: "\e00d";
}
.aui-iconfont-close-dialog:before {
    content: "\e00e";
}
.aui-iconfont-remove-label:before {
    content: "\e00f";
}
.aui-iconfont-time:before {
    content: "\e010";
}
.aui-iconfont-error:before {
    content: "\e011";
}
.aui-iconfont-info:before {
    content: "\e012";
}
.aui-iconfont-approve:before {
    content: "\e013";
}
.aui-iconfont-edit:before {
    content: "\e014";
}
.aui-iconfont-share:before {
    content: "\e015";
}
.aui-iconfont-build:before {
    content: "\e016";
}
.aui-iconfont-user:before {
    content: "\e017";
}
.aui-iconfont-jira:before {
    content: "\e018";
}
.aui-iconfont-doc:before {
    content: "\e019";
}
.aui-iconfont-star:before {
    content: "\e01a";
}
.aui-iconfont-unstar:before {
    content: "\e01b";
}
.aui-iconfont-view:before {
    content: "\e01c";
}
.aui-iconfont-watch:before {
    content: "\e01d";
}
.aui-iconfont-unwatch:before {
    content: "\e01e";
}
.aui-iconfont-view-list:before {
    content: "\e01f";
}
.aui-iconfont-view-card:before {
    content: "\e020";
}
.aui-iconfont-view-table:before {
    content: "\e021";
}
.aui-iconfont-rss:before {
    content: "\e022";
}
.aui-iconfont-expanded:before {
    content: "\e023";
}
.aui-iconfont-collapsed:before {
    content: "\e024";
}
.aui-iconfont-flag:before {
    content: "\e025";
}
.aui-iconfont-confluence:before {
    content: "\e026";
}
.aui-iconfont-attachment:before {
    content: "\e027";
}
.aui-iconfont-calendar:before {
    content: "\e028";
}
.aui-iconfont-details:before {
    content: "\e029";
}
.aui-iconfont-arrows-up:before {
    content: "\e02a";
}
.aui-iconfont-arrows-down:before {
    content: "\e02b";
}
.aui-iconfont-link:before {
    content: "\e02c";
}
.aui-iconfont-locked:before {
    content: "\e02d";
}
.aui-iconfont-unlocked:before {
    content: "\e02e";
}
.aui-iconfont-more:before {
    content: "\e02f";
}
.aui-iconfont-quote:before {
    content: "\e030";
}
.aui-iconfont-warning:before {
    content: "\e031";
}

/* JIRA Icons - UTF+E800 to UTF+EBFF
----------------------------------------------------------------------- */

.aui-iconfont-jira-completed-task:before {
    content: "\e800";
}
.aui-iconfont-jira-test-session:before {
    content: "\e801";
}

/* Dev Tools Icons - UTF+EC00 to UTF+EFFF
----------------------------------------------------------------------- */

.aui-iconfont-devtools-folder-closed:before {
    content: "\ec00";
}
.aui-iconfont-devtools-folder-open:before {
    content: "\ec01";
}
.aui-iconfont-devtools-file:before {
    content: "\ec02";
}
.aui-iconfont-devtools-file-binary:before {
    content: "\ec03";
}
.aui-iconfont-devtools-branch:before {
    content: "\ec04";
}
.aui-iconfont-devtools-repository:before {
    content: "\ec05";
}
.aui-iconfont-devtools-repository-forked:before {
    content: "\ec06";
}
.aui-iconfont-devtools-repository-locked:before {
    content: "\ec07";
}
.aui-iconfont-devtools-commit:before {
    content: "\ec08";
}
.aui-iconfont-devtools-pull-request:before {
    content: "\ec09";
}
.aui-iconfont-devtools-tag:before {
    content: "\ec0a";
}
.aui-iconfont-devtools-browse-up:before {
    content: "\ec0b";
}
.aui-iconfont-devtools-clone:before {
    content: "\ec0c";
}
.aui-iconfont-devtools-fork:before {
    content: "\ec0d";
}
.aui-iconfont-devtools-submodule:before {
    content: "\ec0e";
}
.aui-iconfont-devtools-arrow-right:before {
    content: "\ec0f";
}
.aui-iconfont-devtools-arrow-left:before {
    content: "\ec10";
}
.aui-iconfont-devtools-task-in-progress:before {
    content: "\ec11";
}
.aui-iconfont-devtools-task-cancelled:before {
    content: "\ec12";
}
.aui-iconfont-devtools-task-disabled:before {
    content: "\ec13";
}
.aui-iconfont-devtools-branch-small:before {
    content: "\ec14";
}
.aui-iconfont-devtools-file-commented:before {
    content: "\ec15";
}
.aui-iconfont-devtools-compare:before {
    content: "\ec16";
}
.aui-iconfont-devtools-checkout:before {
    content: "\ec17";
}
.aui-iconfont-devtools-tag-small:before {
    content: "\ec18";
}
.aui-iconfont-devtools-side-diff:before {
    content: "\ec19";
}
